:root {
    --linear-blue: linear-gradient(325deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    --linear-blue-rot: linear-gradient(135deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);

    --linear-green: linear-gradient(325deg, rgba(1, 68, 0, 1) 0%, rgba(82, 218, 31, 1) 100%);
    --linear-green-rot: linear-gradient(135deg, rgba(1, 68, 0, 1) 0%, rgba(82, 218, 31, 1) 100%);

    --linear-orange: linear-gradient(325deg, rgba(195, 61, 34, 1) 0%, rgba(253, 212, 45, 1) 100%);
    --linear-orange-rot: linear-gradient(135deg, rgba(195, 61, 34, 1) 0%, rgba(253, 212, 45, 1) 100%);

    --linear-red: linear-gradient(325deg, rgba(68, 0, 0, 1) 0%, rgba(255, 72, 72, 1) 100%);
    --linear-red-rot: linear-gradient(135deg, rgba(68, 0, 0, 1) 0%, rgba(255, 72, 72, 1) 100%);
}

html {
    width: 100%;
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: var(--linear-blue);
    background-repeat: no-repeat;
}

.game, .lvl-select{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lvl-select {
    display: flex;
    flex-direction: column;
}

.lvl-select > * {
    margin: 1rem;
    padding: 1rem 2rem;
    color:#282A3A;
    font-weight: bold;
}

.lvl-easy {
    background: var(--linear-green);
    box-shadow: 0 25px 50px rgb(33 33 33 / 25%);
}
.lvl-medium {
    background: var(--linear-orange);
    box-shadow: 0 25px 50px rgb(33 33 33 / 25%);
}
.lvl-hard {
    background: var(--linear-red);
    box-shadow: 0 25px 50px rgb(33 33 33 / 25%);
}

.controls {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

button {
    background: #282A3A;
    color: #FFF;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    font-size: 18pt;
}

.disabled {
    color: #757575;
}

.stats {
    color: #FFF;
    font-size: 14pt;
}

.board-container {
    position: relative;
}

.board,
.win {
    border-radius: 5px;
    box-shadow: 0 25px 50px rgb(33 33 33 / 25%);
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.board {
    background: var(--linear-blue-rot);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
}

.board-container.flipped .board {
    transform: rotateY(180deg) rotateZ(50deg);
}

.board-container.flipped .win {
    transform: rotateY(0) rotateZ(0);
}

.card {
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.card-front,
.card-back {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: #282A3A;
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg) rotateZ(50deg);
    font-size: 28pt;
    user-select: none;
    text-align: center;
    line-height: 100px;
    background: #FDF8E6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card.flipped .card-front {
    transform: rotateY(180deg) rotateZ(50deg);
}

.card.flipped .card-back {
    transform: rotateY(0) rotateZ(0);
}

.win {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #FDF8E6;
    transform: rotateY(180deg) rotateZ(50deg);
}

.win-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21pt;
    color: #282A3A;
}

.highlight {
    color:red;
}

.hidden {
    visibility: hidden;
}

body.easy .card {
    width: 150px;
    height: 150px;
}

body.easy {
    background: var(--linear-green);
}
body.easy .board {
    background: var(--linear-green-rot);
}body.medium {
    background: var(--linear-orange);
}
body.medium .board {
    background: var(--linear-orange-rot);
}
body.hard {
    background: var(--linear-red);
}
body.hard .board {
    background: var(--linear-red-rot);
}